llama-index==0.10.68
llama-index-core==0.10.68
llama-index-vector-stores-qdrant==0.2.16
llama-index-embeddings-cohere==0.2.1
llama-index-llms-anthropic==0.3.8
llama-index-postprocessor-cohere-rerank==0.1.7
cohere==5.11.0
qdrant-client==1.9.1
anthropic==0.34.0
python-pptx==1.0.2
streamlit==1.38.0
python-dotenv==1.0.1
pydantic==2.8.2
