llama-index
llama-index-core
llama-index-vector-stores-qdrant
llama-index-embeddings-cohere
llama-index-llms-anthropic
llama-index-postprocessor-cohere-rerank
cohere
qdrant-client
anthropic
python-pptx
streamlit
python-dotenv
pydantic
