llama-index==0.11.3
llama-index-core==0.11.3
llama-index-vector-stores-qdrant==0.3.3
llama-index-embeddings-cohere==0.3.0
llama-index-llms-anthropic==0.4.0
llama-index-postprocessor-cohere-rerank==0.2.0
cohere==5.11.0
qdrant-client==1.12.1
anthropic==0.39.0
python-pptx==1.0.2
streamlit==1.38.0
python-dotenv==1.0.1
pydantic==2.8.2
fastembed==0.3.6
